@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');
html { font-size: 16px; font-family: "Noto Sans KR", sans-serif; overflow-x: hidden;}
@charset "utf-8";
/* reset */
* {padding: 0; margin: 0;box-sizing: border-box;}
a {text-decoration: none; color: inherit;}
body,div,ul,li,dl,dd,dt,ol,h1,h2,h3,h4,h5,h6,input,fieldset,legend,p,select,table,th,td,tr,textarea,button,form,figure,figcaption{margin:0;padding:0;}
li {list-style: none;}
body,html {margin:0; padding:0;-webkit-font-smoothing:antialiased; -moz-font-smoothing:antialiased; font-smoothing:antialiased; font-size:15px; color:#000;}
/* 폰트 스타일 초기화 */
em,address {font-style: normal;}
/* 블릿기호 초기화 */
ul,li,ol {list-style: none;}
/* 버튼 초기화 */
button {border: 0; cursor: pointer; font-size: inherit; font-size: 14px; background-color: inherit; outline: none;}
/* 반응형 */
img {max-width: 100%;}
/* 이미지박스 */
.img-box > img {display: block; width: 100%;}

/* 표 초기화 */
table {border-spacing: 0; table-layout: fixed; word-break: break-all;  border-collapse: collapse;}

/* 라이브러리 */
.clearfix::before, .clearfix::after {content: ""; display: block; clear: both;}
.cell {float: left; box-sizing: border-box;}
.cell-right {float: right; box-sizing: border-box;}
input[type='text'] {box-sizing: border-box; padding-left: 5px; outline: none;}
input[type='radio'] {box-sizing: border-box;padding-left: 5px; outline: none;}
/* screen out */
.screen_out {overflow: hidden; position: absolute; width: 0; height: 0; line-height: 0; text-indent: -9999px;}
.skip {position: absolute; left: 0; top:-50px;width: 100%; height: 40px; line-height: 40px; text-align: center; background: #000; color: #fff; transition: all 0.5s;}
.skip:focus{top:0;}


/**********  HEADER  ***********/
#m_header {display: none;}
header {position: fixed; width:100%; transition: 0.3s ease-in; height:60px; z-index: 100;}

header .header_wrap {position: relative;  text-align: center; width: 100%; height: 60px; border-bottom: 1px solid rgba(229, 229, 229, 0); color: #000; background: rgba(255, 255, 255, 1);  -moz-box-shadow: 0 2px 4px -2px rgba(0, 0, 0, 0.6); -webkit-box-shadow: 0 2px 4px -2px rgba(0, 0, 0, 0.6); box-shadow: 0 2px 4px -2px rgba(0, 0, 0, 0.6); }
header .header_wrap.active {background: #fff;  border-bottom: 1px solid rgba(229, 229, 229, 1);  color: #1e1e1e;}

header .header_wrap h1 {width: 10%; height: 80%; margin-top: 8px; float: left; margin-left: 5%;}
header .header_wrap h1 .img-box { width: 100%; height: 100%;}
header .header_wrap h1 .img-box img {display: block; width: 70%;}
header .header_wrap h1 .logo-whi {display: block; width:100%; height: 100%;}


nav {width:70%; height: 60px; margin:0 auto; display: inline-block; padding: 0 20px;  font-size: 0;}
/*1depth*/
nav > ul {display: inline-block; height: 60px; overflow: hidden;}
nav > ul.active {overflow: visible;}
nav + div {position: absolute; width: 100%; top:0; left: 0; height: 0px; background: #fff; opacity: 1; z-index: -1;  border-bottom: 1px solid #e5e5e5; }
nav + div.active {height: 280px;}


nav > ul > li {display: inline-block; position: relative; font-size: 16px;}
nav > ul > li > a {position: relative; display: block; padding: 18px 40px;}
nav > ul > li > a::after {content:''; position: absolute; bottom: 0; left: 50%; width: 0%; height: 2px; background: #0c355e; transition: all 0.3s;}
nav > ul > li:hover > a::after {width: 100%; left: 0;}
/*2depth*/
nav > ul ul{width:100%; opacity: 0; position: absolute; transition:all 0.5s; height: 220px; border-right: 1px solid #e5e5e5;}
nav > ul.active ul {opacity: 1; border-right: 1px solid #e5e5e5;}
nav > ul > li:last-child ul {border-right: 0px solid #e5e5e5;}
nav > ul > li ul li {line-height: 50px;}
nav > ul > li ul li a{font-size: 14px; position: relative;}
nav > ul > li ul li a::after {content:''; position: absolute; bottom: -4px; left: 50%; width: 0%; height: 2px; background: #0c355e; transition: all 0.3s;}
nav > ul > li ul li a:hover::after {width: 100%; left: 0;}


ul.info {width: 15%; height: 60px; vertical-align: middle;}
.info li {width:16%; height: 100%; display: table-cell; text-align: center;}
.info li:first-child{width: 40%;}
.info li a {display: inline-block; width: 80%; margin-top: 17px;}
.info li a i {font-size: 25px; color: #9f9e9e;}
.info li a img {width: 100%;}

.info li:hover:nth-child(2) a i {color: red;}
.info li:hover:nth-child(3) a i {color: #3a5daa;}
.info li:hover:nth-child(4) a i {color: #33a936;}



/**********  main01_영상  ***********/


/*button*/
.mainmovie {position: relative; width: 100%; height: 1020px; top: 0; left: 0; overflow: hidden;}
.mainmovie::after {content: ''; position: absolute; top: 0; left: 0; width: 100%; height: 100%; background: rgba(0, 0, 0, 0.28); z-index: 1;}
.mainmovie video {min-width: 100%; min-height: 100%; width: auto; height: auto; position: absolute; top: 50%; left: 50%;-webkit-transform: translateX(-50%) translateY(-50%);-ms-transform: translateX(-50%) translateY(-50%); transform: translateX(-50%) translateY(-50%);}

.mainmovie iframe {min-width: 100%; min-height: 100%; width: auto; height: auto; position: absolute; top: 50%; left: 50%;-webkit-transform: translateX(-50%) translateY(-50%);-ms-transform: translateX(-50%) translateY(-50%); transform: translateX(-50%) translateY(-50%);}

.home_txt {position: absolute; top: 75%; left: 50%; transform: translateX(-50%)translateY(-50%); z-index: 3; color: #fff; text-align: center;}

.mainmovie .home_img {display: none; min-width: 100%; min-height: 100%; width: auto; height: auto; position: absolute; top: 50%; left: 50%;-webkit-transform: translateX(-50%) translateY(-50%);-ms-transform: translateX(-50%) translateY(-50%); transform: translateX(-50%) translateY(-50%); background:url(../images/m_home.jpg); background-repeat: no-repeat; background-position: center; background-size: cover;}

.home_txt .top p {font-size: 3.8rem; font-weight: 600; line-height: 80px; text-transform: uppercase; margin-bottom: 15px;}
.home_txt .middle p { font-size: 1.2rem; margin-top: 20px;}

/*button*/
@keyframes glowing {
    0% { background-position: 0 0; }
    50% { background-position: 400% 0; }
    100% { background-position: 0 0; }
}
.home_txt .glow-on-hover {width: 180px; height: 50px; color: #111;  cursor: pointer; position: relative; z-index: 0;  font-weight: 600; margin-top: 75px;}

.home_txt .glow-on-hover:before {content: ''; background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000); position: absolute; top: -2px; left:-2px; background-size: 400%; z-index: -1; filter: blur(5px); width: calc(100% + 4px); height: calc(100% + 4px); animation: glowing 20s linear infinite; opacity: 0; transition: opacity .3s ease-in-out; border-radius: 30px;}

.home_txt .glow-on-hover:hover:before {opacity: 1;}
.home_txt .glow-on-hover:hover:after {background: rgba(245, 245, 245, 1);}


.home_txt .glow-on-hover:after { z-index: -1; content: ''; position: absolute; width: 100%; height: 100%; background: rgba(245, 245, 245, 0.68); left: 0; top: 0; border-radius: 30px; border:1px solid rgba(0, 0, 0, 0.26);}

.home .iconmouse {position: absolute; bottom: 45px; left: 50%; transform: translateX(-50%); z-index: 3; width: 26px; height: 42px; border: 2px solid #fff; border-radius: 20px;}

@keyframes Mouse_act {
    0% {
        transform: translateY(5px);
    }

    50% {
        transform: translateY(-5px);
    }

    100% {
        transform: translateY(5px);
    }
}
.home .iconmouse::before {content: 'SCROLL'; display: block; position: absolute; top: -35px; left: 50%; margin-left: -29px; width: 60px; font-size: 16px; color: #fff; letter-spacing: 0px; font-weight: 600;}
.home .iconmouse .ball {position: absolute; top: 8px; left: 9px; width: 4px; height: 4px; background: #fff; border-radius: 50%; animation: Mouse_act 1s ease-out infinite;}


/**********  main02_테코드  ***********/

.w1280 {width: 100%; max-width: 1280px; height: 100%; margin: 0 auto; position: relative;}

.main02 {height: 550px; position: relative; padding: 110px 0 0 50px; z-index: 10;}
.main02 .cell {transform: translate(500px, 0px); transition: all 1.5s;}
.main02 dt {width: 50%;}
.main02 .tit {font-size: 27px; font-weight: 300; line-height: 1.3;}
.main02 strong {font-size: 60px; margin-bottom:15px; display: inline-block; color: #0c355e
;}
.main02 strong font {color: #ffcd4a
;}
.main02 .subTxt {font-size: 18px; color: #111; font-weight: 300; line-height: 1.5;}
.main02 dt p {color: #000;}
.main02 dd {width: 50%; position: absolute; top:16%; right: 0; text-align: right;}
.main02 dd img {width: 100%;}

/**********  main03_박빙  ***********/

.main03 {height: 630px; position: relative; padding: 75px 0 0 0; background: #f0f0f0; overflow: hidden;}
.main03 .cell {transform: translate(-500px, 0px); transition: all 1.5s 0.9s;}
.main03 .left-img{width: 50%;}
.main03 .left-img img {width: 100%;}

.main03 .right-txt{width: 44%; height: 270px; position: absolute; bottom: -120px; right:0; background: #fff; padding:50px 45px; border-top-left-radius: 10px; border-top-right-radius: 10px; -moz-box-shadow: 3px 3px 3px 3px #999; -webkit-box-shadow: 3px 3px 3px 3px #999; box-shadow: 3px 0px 6px 0px rgba(153, 153, 153, 0.3);}
.main03 .right-txt span {display: inline-block; margin-left: 10px;}
.main03 .right-txt span img {width: 100px; padding-top:5px;}
.main03 .tit {font-size: 21px; font-weight: 300; line-height: 1.3; margin-bottom: 0px;}
.main03 strong {font-size: 32px; margin-bottom:15px; display: inline-block; color: #0c355e
;}
.main03 strong font {color: }
.main03 .subTxt {font-size: 16px; color: #666; font-weight: 300; line-height: 1.5;}


/**********  main04_사업모델  ***********/
.main04 { height: 980px; width: 100%; position: relative; text-align: center; overflow: hidden; color: #000; }
/* 이미지 */
.main04 .imgWrap.m_only {display: none;}
.main04 .imgWrap { width: 100%; height: 100%; position: absolute; top: 0; left: 0; background: #ddd;}
.main04 .imgWrap img { height: 100%; position: absolute; top: 0; left: 50%; -webkit-transform: translateX(-50%); -ms-transform: translateX(-50%); transform: translateX(-50%); z-index: 1; opacity: 0; -webkit-transition: all ease-in-out 1s; transition: all ease-in-out 1s; }
.main04 .imgWrap img.on { z-index: 2; opacity: 1; }
/* 제목타이틀 */
.main04 .titWrap{color: #fff; display: inline-block; position: relative; top:18%; z-index: 5; text-align: center;}
.main04 .titWrap .tit {font-size: 52px; margin-bottom: 20px;}

.main04 .titWrap .subTxt { font-size: 18px; color: #fff; }
/* 호버시 나타나는txt */
.main04 ul {width: 100%; height: 100%; position: absolute; top: 0; left: 0; z-index: 3;}

.main04 ul li {display: inline-block; width: 23%; height: 100%; border-right: 1px solid rgba(255, 255, 255, 0.15); position: relative; color: rgba(255, 255, 255, 0.38);}
.main04 ul li.on {width: 31%; background: rgba(255, 255, 255, 0.18); -webkit-transition: width ease-in-out 0.8s; transition: width ease-in-out 0.8s; color: rgba(255, 255, 255, 1); }
.main04 ul li .txt {position: absolute; top:65%; left: 50%; transform: translateX(-50%);}
.main04 ul li.on .txt {top:54%;}

.main04 ul li .more-txt {display: inline-block; vertical-align: middle; opacity: 0; margin-top: 20px; width: 260px; font-size: 16px;}
.main04 ul li.on .more-txt {opacity: 1; }
.main04 ul li .txt p i{font-size: 40px;}

.main04 ul li .txt p {margin-top: 15px; font-size: 30px; line-height: 1.35; white-space: nowrap;}

.main04 .swiper-wrapper button{margin-top: 30px;}
.main04 .swiper-wrapper button i{font-size: 20px; color: rgba(0, 0, 0, 0.55); }

.main04 .glow-on-hover {width: 50px; height: 50px; color: #111;  cursor: pointer; position: relative; z-index: 0;  font-weight: 600;}
.main04 .glow-on-hover:before {content: ''; background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000); position: absolute; top: 0px; left:0px; background-size: 400%; z-index: -1; filter: blur(5px); width: calc(100% + 3px); height: calc(100% + 3px); animation: glowing 20s linear infinite; opacity: 1; transition: opacity .3s ease-in-out; border-radius: 30px;}

.main04 .glow-on-hover:after { z-index: -1; content: ''; position: absolute; width: 100%; height: 100%; background: rgba(245, 245, 245, 1); left: 0; top: 0; border-radius: 30px; border:1px solid rgba(0, 0, 0, 0.26);}



@keyframes glowing {
    0% { background-position: 0 0; }
    50% { background-position: 400% 0; }
    100% { background-position: 0 0; }
}

/**********  main05_뉴스레터  ***********/

.main05 { padding-top: 100px; padding-bottom: 100px; background: #f0f0f0; }

.main05 .tit { margin-bottom: 50px; text-align: center; }

.main05 ul { font-size: 0; }

.main05 ul li { display: inline-block; width: calc(25% - 15px); margin-right: 20px; vertical-align: middle; -webkit-transition: all .3s ease-out; transition: all .3s ease-out; border-radius: 5px; }

.main05 ul li:last-of-type { margin-right: 0; }

.main05 ul li:hover { -webkit-box-shadow: 3px 4px 19.2px 0.8px rgba(34, 34, 34, 0.25); box-shadow: 3px 4px 19.2px 0.8px rgba(34, 34, 34, 0.25); }

.main05 ul li a { display: block; height: 100%; }

.main05 ul li .imgWrap {border-top-left-radius: 5px; border-top-right-radius: 5px; overflow: hidden;}

.main05 ul li .imgWrap img { width: 100%; border-top-left-radius: 5px; border-top-right-radius: 5px;}

.main05 ul li .txtWrap { padding: 30px 20px; background: #fff; border-bottom-left-radius: 5px; border-bottom-right-radius: 5px; }

.main05 ul li .txtWrap strong { font-size: 14px; color: #0c355e; }

.main05 ul li .txtWrap p { display: -webkit-box; height: 60px; margin-top: 15px; font-size: 20px; font-weight: 500; line-height: 1.5; text-overflow: ellipsis; -webkit-line-clamp: 2; -webkit-box-orient: vertical; overflow: hidden; }

.main05 ul li .txtWrap .day { display: block; margin-top: 40px; font-size: 16px; color: #999; font-weight: 400; text-align: right;}

/*button*/
@keyframes glowing {
    0% { background-position: 0 0; }
    50% { background-position: 400% 0; }
    100% { background-position: 0 0; }
}
.main05 .glow-on-hover {width: 180px; height: 50px; color: #111;  cursor: pointer; position: relative; z-index: 0;  font-weight: 600; margin-top: 55px; text-align: center; left: 50%; transform: translateX(-50%);}

.main05 .glow-on-hover:before {content: ''; background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000); position: absolute; top: -2px; left:-2px; background-size: 400%; z-index: -1; filter: blur(5px); width: calc(100% + 4px); height: calc(100% + 4px); animation: glowing 20s linear infinite; opacity: 0; transition: opacity .3s ease-in-out; border-radius: 30px;}

.main05 .glow-on-hover:hover:before {opacity: 1;}
.main05 .glow-on-hover:hover:after {background: rgba(245, 245, 245, 1);}


.main05 .glow-on-hover:after { z-index: -1; content: ''; position: absolute; width: 100%; height: 100%; background: rgba(245, 245, 245, 0.68); left: 0; top: 0; border-radius: 30px; border:1px solid rgba(0, 0, 0, 0.26);}



/**********  main06_파트너  ***********/
.main06 { padding-top: 120px; padding-bottom: 120px;  }
.main06 .tit { margin-bottom: 25px; font-size: 38px; font-weight: 200; line-height: 1.3; }
.main06 .subTxt {font-size: 18px;}

.main06 .partner-tit { display: inline-block; width: 40%; margin-top: 15px; vertical-align: top; }

.main06 .partner-list { display: inline-block; width: 60%; vertical-align: top; }

.main06 .partner-list ul li { display: inline-block; width: 20%; height: 100px; margin: 10px; vertical-align: middle;}

.main06 .partner-list ul li img {display: block; width: 100%;}


/**********  footer  ***********/
footer{position: relative; width: 100%;}
.footer_container {background: #111; position: relative; width: 100%;}
.footer-gnb-container { border-bottom: 1px solid #333; height: 60px; background: #222;}
.footer-gnb-container .footer-gnb { width: 1200px; margin: 0 auto; height: 100%;  }
.footer-gnb-container .footer-gnb ul { height: 100%; }
.footer-gnb-container .footer-gnb ul li { float: left; height: 100%; margin-right: 30px; }
.footer-gnb-container .footer-gnb ul li a { display: block; height: 100%; line-height: 59px; font-size: 16px; color: #999; font-weight: 500;}
.footer-gnb-container .footer-gnb ul li a:hover { color: #555; }

.footer {position: relative; width: 1200px; margin: 0 auto;  padding: 20px 0 50px; }
.footer .info-wrap { margin-bottom: 10px; }
.footer .info-wrap .info { display:block; margin-right: 30px; margin-bottom: 8px; }
.footer .info-wrap .info p { font-size: 16px; color: #999;  }
.footer .info-wrap .info p.department { margin-right: 18px; position: relative; display: inline-block; }
.footer .info-wrap .info p.content { display: inline-block; }
.footer .info-wrap .info p.department:after { height: 13px; width: 1px; background: #999; position: absolute; content: ''; right: -10px; top: 5px; }
.select_wrap {position: absolute; top: 45%; right: 7%;}
.footer p { font-size: 16px; color: #999;}
.footer p.copy { letter-spacing: 0; }

/*common select*/
footer select {-webkit-appearance:none; -moz-appearance:none; -ms-appearance:none; appearance:none; outline:0; box-shadow:none; border:0!important; background: #555; background-image: none; flex: 1; padding: 0 .5em; color:#fff; cursor:pointer; font-size: 1em; font-family: 'Open Sans', sans-serif;}
footer select::-ms-expand { display: none;}
footer .select { position: absolute; top:45%; right: 5%; display: flex; width: 250px; height: 40px; line-height: 3; background: #5c6664; overflow: hidden; border-radius: .25em;}
footer .select::after { content: '\25BC'; position: absolute; top: 0; right: 0; padding: 0 1em; background: #2b2e2e; cursor:pointer; pointer-events:none; transition:.25s all ease;}
footer .select:hover::after {color: #fff;}
.foot-logo {position: absolute; top:48%; left: 98%; width: 100px;}
/* bottom_cont */
.foot{width:100%; background:#222; color:#888; font-size:12px;  padding:1% 0;}
.footWrap {width:100%; margin:0 auto; position:relative; text-align: center;}
.footWrap address {font-size: 14px; color: #ddd;}

/********  footer   *********/


@media screen and (max-width:1280px){
    /* header */
    .header_wrap {display: none;}
    footer{display: none;}
    /* 모바일 메뉴 시작 */
    #m_header {display: block; width: 100%; height: 50px;}
    .top_menu {height: 50px; position: fixed; top: 0; left: 0; width: 100%; z-index: 90; background-color: rgba(255, 255, 255, 1);}
    .top_inner {position: relative; width: 100%; top:0; left: 0; height: 50px; text-align: center; }
    .top_inner a{position: absolute; top:50%; left: 50%; transform: translateX(-50%)translateY(-50%);}
    /*  로고  */
    .top_inner .m_logo {display: block; width: 85px;}
    /*  햄버거메뉴 동작  */
    #hamburger_wrapper #hamburger_menu {position: absolute; top: 50%; right: 3%; transform: translateY(-50%); width: 23px; height: 20px; cursor: pointer;}
    #hamburger_wrapper #hamburger_menu span {opacity: 1; left: 0; display: block; width: 100%; height: 2px; border-radius: 10px; color: #5a5858; background-color: #5a5858; position: absolute; transform: rotate(0deg); transition: .4s ease-in-out;}
    #hamburger_wrapper #hamburger_menu span:nth-child(1) {top: 0;}
    #hamburger_wrapper #hamburger_menu span:nth-child(2) {top: 9px;}
    #hamburger_wrapper #hamburger_menu span:nth-child(3) {top: 18px;}
    #hamburger_wrapper #hamburger_menu.open span:nth-child(1) {transform: translateY(9px) rotate(135deg);}
    #hamburger_wrapper #hamburger_menu.open span:nth-child(2) {opacity: 0; transform: translateX(-60px);}
    #hamburger_wrapper #hamburger_menu.open span:nth-child(3) {transform: translateY(-9px) rotate(-135deg);}
    /* allMenu */
    .allMenu {position: fixed; top:50px; left: 0; width: 100%; height: 100%; background-color: #f1f1f1; z-index: 999; overflow-y: auto; overflow-x: hidden; left: -100%; border-top: 1px solid #f1f1f1;}
    /*메뉴 아코디언*/
    .accordion {padding: 0; background-color: #fff; margin-bottom: 20px; box-shadow: rgba(100,100,100,0.2) 0px 2px 3px 0px;}
    .allMenu h4 {padding: 5px; margin: 10px 0; text-align: center; font-weight: 500; color: #0c355e;}
    .allMenu li.list_accordion, .allMenu .menu-login {padding: 15px 10px; border-top: 1px solid #f1f1f1;}
    .allMenu li.list_accordion:first-child {border: 0;}
    .allMenu li.list_accordion a {display: block;}
    .allMenu li.list_accordion img {vertical-align: middle; padding-right: 5px;}
  
    /* 메뉴 하단 */
    .side_footer {text-align: center; margin-bottom: 12px; margin-top: 10px;}
    .footer_menu_item {display: inline-block; font-size: 12px; color: #999999; position: relative; line-height: 1.5;}
    .footer_menu_item + .footer_menu_item {margin-left: 15px;}
    .footer_menu_item + .footer_menu_item::before {position: absolute; top: 50%; left: -10px; width: 1px; height: 12px; margin-top: -6px; background-color: #d8d8d8; content: '';}

    .main_menu {display: none;}
   
    /* 모바일 메뉴 - 카테고리 */
    .m_gnb {width: 100%; padding: 0; background-color: #fff; box-shadow: rgba(100,100,100,0.2) 0px 2px 3px 0px;}
    .sideNav ul li.active ul {display: block;}
    /*reset*/
    .sideNav ul ul {display: none;}
    /*1depth*/
    .sideNav li {border-bottom: 1px solid rgba(183, 181, 181, 0.2);}
    .sideNav li a {display:block; position: relative; color:#1a1a1a; height:55px; width:100%; line-height:55px; cursor:pointer; text-decoration:none;}
    .sideNav ul.depth1 {background-color: #fff;}
    .sideNav ul.depth1 li > a {padding: 0px 10px;}
    .sideNav ul.depth1 > li.open > a {background-color: #0c355e; color: #fff;}

    /*2depth*/
    .sideNav .depth2 {width: 100%;}
    .sideNav .depth2 > li {color:#1f54b7; padding: 10px 0 10px 10px; background-color:rgba(173, 191, 226, 0.18);}
    .sideNav .depth2 > li > a {height:30px; line-height: 30px; color: #444;}
    .sideNav li li ul {position: relative; z-index: 9999; overflow:hidden; padding: 5px 10px;}
    .sideNav li.open li a {border:none;}
    .sideNav li.open li:last-child {border-bottom:none;}

    /*3depth*/
    .sideNav ul.depth3 li {border-bottom: 1px solid #f1f1f1;}
    .sideNav li li li a {height:37px; line-height:37px; font-size: 0.9em; color: #666;}
    .sideNav li.open li li:last-child {border-bottom:none;}

    /*1depth icon*/
    .sideNav i {position: absolute; top:50%; transform:translateY(-50%); -ms-transform:translateY(-50%);}
    .sideNav li i {color:#444444; font-size:12px;}
    .sideNav li.open i.right--icon {color: #fff;}
    .sideNav li i.right--icon {right: 40px; transition:all .2s ease-in-out; -webkit-transition:all .2s ease-in-out; -moz-transition:all .2s ease-in-out; -ms-transition:all .2s ease-in-out; -o-transition:all .2s ease-in-out;}
    .sideNav li.open i.right--icon {transform:rotate(-180deg) translateY(50%); -webkit-transform:rotate(-180deg) translateY(50%); -moz-transform:rotate(-180deg) translateY(50%); -ms-transform:rotate(-180deg) translateY(50%); -o-transform:rotate(-180deg) translateY(50%);}

    /*2depth icon*/
    .sideNav li li i.right--icon-sub {right: 40px; transition:all .2s ease-in-out; -webkit-transition:all .2s ease-in-out; -moz-transition:all .2s ease-in-out; -ms-transition:all .2s ease-in-out; -o-transition:all .2s ease-in-out;}
    .sideNav li.open li.open i.right--icon-sub {transform:rotate(-180deg) translateY(50%); -webkit-transform:rotate(-180deg) translateY(50%); -moz-transform:rotate(-180deg) translateY(50%); -ms-transform:rotate(-180deg) translateY(50%); -o-transform:rotate(-180deg) translateY(50%);}

    /*3depth icon*/
    .plus-minus::after,.plus-minus::before {content:""; display:block; position:absolute; width:14px; height:1px; background:#4b7af4; left:20px; top:50%;}
    .plus-minus::before {transform:rotate(90deg); -webkit-transform:rotate(90deg); -moz-transform:rotate(90deg); -ms-transform:rotate(90deg); -o-transform:rotate(90deg); transition:all .2s ease-in-out; -webkit-transition:all .2s ease-in-out; -moz-transition:all .2s ease-in-out; -ms-transition:all .2s ease-in-out; -o-transition:all .2s ease-in-out;}
    .sideNav li li li.has-sub.open>a .plus-minus::before {transform:rotate(0deg); -webkit-transform:rotate(0deg); -moz-transform:rotate(0deg); -ms-transform:rotate(0deg); -o-transform:rotate(0deg);}
    .allMenu .side-sns {text-align: center;}
    .allMenu ul.info {display: inline-block; width: 40%; height: 55px; vertical-align: middle; margin-left: 30px; margin-top: 10px;}
    .allMenu .info li {width:16%; height: 100%; display: table-cell; text-align: center;}
    .allMenu .info li:first-child{width: 40%;}
    .allMenu .info li a {display: inline-block; width: 80%; margin-top: 17px;}
    .allMenu .info li a i {font-size: 25px; color: #9f9e9e;}
    .allMenu .info li a img {width: 100%;}

    .allMenu .info li:hover:nth-child(2) a i {color: red;}
    .allMenu .info li:hover:nth-child(3) a i {color: #3a5daa;}
    .allMenu .info li:hover:nth-child(4) a i {color: #33a936;}
    /* 모바일 메뉴 끝 */
    
    .w1280 {padding: 60px 50px;}
    /* main02 */
    .main02 dd {right: 5%;}
    /* main03 */
    .main03 {height: 600px; padding: 0px 0 0 0;}
    .main03 .left-img {width: 60%; padding: 0px 50px 0px 0px;}
    .main03 .right-txt {height: 250px; width: 40%; bottom:60px; padding: 30px 35px; border-top-left-radius: 10px; border-top-right-radius: 0px; border-bottom-left-radius: 10px;}
    /* main04 */
    .main04 ul li {width: 100%; height: 25%; border-bottom: 1px solid rgba(255, 255, 255, 0.15); position: relative;}
    .main04 ul li.on {width: 100%; height: 25%; background: rgba(255, 255, 255, 0.18);}
    .main04 .titWrap {display: none;}
    .main04 ul li .txt {position: absolute; top: 65%; left: 50%; transform: translateX(-50%)translateY(-50%); }
    .main04 ul li.on .txt {top: 50%;}
    .main04 ul li .more-txt {margin-top: 0px; font-size: 15px;}
    .main04 .swiper-wrapper button {margin-top: 10px;}
    .main04 ul li .txt p {font-size: 18px; margin-top: 8px;}
    /* main05 */
    .main05 {padding-top: 0px; padding-bottom: 0px;}
    .main05 ul li {width: calc(50% - 40px); margin: 20px;}
    .main05 .tit {font-size: 30px; margin-bottom: 30px;}
    
    .main06 .partner-tit {padding-left: 30px;}
}



@media screen and (max-width:1024px){
    /* main02 */
    .main02 dd {top: 40%; right: 0; text-align: inherit;}
    /* main03 */
    .main03 .right-txt {width: 45%; height: auto; padding: 35px 35px;border-top-left-radius: 10px; border-top-right-radius: 0px; border-bottom-right-radius: 0px; border-bottom-left-radius: 10px;}
}

@media screen and (max-width:768px){
    .w1280 {padding: 40px 50px;}
    /* main02 */
    .main02 {height: 100%;}
    .main02 .cell {transform: translate(0px, 0px); transition: all 1.5s 0.9s;}
    .main02 dt {width: 100%; text-align: center;}
    .main02 dd {position: static; width: 100%; text-align: center;}
    .main02 dd img {width: 80%;}
    .main02 .tit {font-size: 20px;}
    .main02 .subTxt {font-size: 14px; line-height: 1.5;}
    /* main03 */
    .main03 {height: 100%; position: relative; padding: 0px 0 0 0;}
    .main03 .cell {transform: translate(0px, 0px); transition: all 1.5s 0.9s;}
    .main03 .left-img {width: 100%; padding: 30px 50px 20px 50px;}
    .main03 .right-txt {position: static; width: 100%; padding: 20px 40px; border-top-left-radius: 10px; border-top-right-radius: 10px; border-bottom-right-radius: 10px; border-bottom-left-radius: 10px; text-align: center;}
    /* main04 */
    
    .main04 .imgWrap.m_only {display: block;}
    .main04 .imgWrap.p_only {display: none;}
    
    
    /* main06 */
    .main06 .tit {margin-bottom: 5px;font-size: 25px;}
    .main06 .subTxt {font-size: 13px;}
    .main06 .partner-list ul li {width: calc(33.333% - 20px);height: auto;}
    
    
}



@media all and (max-width:440px){
    .mainmovie {height: 850px;}
    .mainmovie .main_video {display: none;}
    .mainmovie .home_img {display: block;}
    .mainmovie::after {background: rgba(0, 0, 0, 0.0);}}
    .home_txt .glow-on-hover {margin-top:00px;}
    .home .iconmouse {bottom: 40px;}
    .w1280 {padding: 50px 50px;}
    
    /* main02 */
    .main02 dd img {width: 100%;}
    .main02 strong {font-size: 40px;}
    /* main03 */
    .main03 .left-img {padding: 0px 0px 20px 0px;}
    .main03 .tit {font-size: 13.5px; margin-bottom: 10px;}
    .main03 strong {font-size: 22px;}
    .main03 .subTxt {font-size: 13px;}
    /* main05 */
    .main05 {padding-top: 0px; padding-bottom: 0px;}
    .main05 ul li {width: calc(100% - 40px); margin: 20px;}
    .main05 .tit {font-size: 30px; margin-bottom: 30px;}
    .main05 .glow-on-hover {margin-top: 20px; margin-bottom: 20px; }
    /* main06 */
    .main06 .partner-tit {width: 100%; text-align: center; margin-bottom: 20px; padding-left: 0;}
    .main06 .partner-list {width: 100%;}
    .main06 .partner-list ul li {width: calc(50% - 20px);height: auto;}
}



